body {
    font-family: Arial;
    background: #f5f6fa;
}

.container {
    width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    padding: 20px 30px;
    background: #2f3640;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}

.entry {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

input, select, button {
    padding: 8px;
}

button {
    background: #2f3640;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

/* PRINT ONLY BILL */
@media print {

    body * {
        visibility: hidden;
    }

    #printArea, #printArea * {
        visibility: visible;
    }

    #printArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
